* {
	scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat&display=swap')

body {
	font-family: 'Montaga', serif;
}

.nav-link {
	color: black;
}
.landing {
	height: 100vh;
	background-image: url(./images/brutalist2.jpeg);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	color: black;
	margin: 0;
	font-family: 'Montaga', serif;
}

.container {
	padding-top: 20vh;
}

.skills {
	padding-top: 20vh;
	background-color: black;
}

.skills > h1 {
	color: white;
	padding: 2vh;
	font-family: 'Montaga', serif;
}

.inside-skills {
	justify-content: center;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 10vh;
}

.about {
	height: auto;
	background-color: black;
	text-align: center;
	color: white;
	overflow: auto;
	font-family: 'Montaga', serif;
	font-size: 1rem;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
}

.inside {
	padding-top: 10vh;
}

.paragraph {
	padding: 10vh 10vw 10vh 10vw;
}

.image-1 {
	height: 50vh;
	background-image: url(https://c.pxhere.com/photos/13/91/bridge_concrete_river_black_and_white_photo_black_white_photograph_step_stairs_sky-544416.jpg!d);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

.image-2 {
	height: 50vh;
	background-image: url(https://c.pxhere.com/images/68/6f/62234fd1fb2a8e6cd659c0621504-1593297.jpg!d);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

.image-3 {
	height: 50vh;
	background-image: url(https://c.pxhere.com/photos/c6/bd/architecture_black_and_white_buildings_city_glass_low_angle_shot_monochrome_perspective-1485375.jpg!d);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

.projects {
	padding: 10vh;
	height: auto;
	background-color: black;
	font-family: 'Montaga', serif;
}

.inside-projects > h2 {
	color: white;
	padding-bottom: 5vh;
}

.contact {
	width: 50vw;
	padding-top: 10vh;
	padding-bottom: 10vh;
	font-family: 'Montaga', serif;
}

.contact > h2 {
	padding-bottom: 2vh;
}

.footer {
	padding: 10vh;
	background-color: black;
	color: white;
	text-decoration: none;
	font-family: 'Montaga', serif;
}

.fa-facebook {
  background: black;
  color: white;
}

.fa-twitter {
	background-color: black;
	color: white;
}

.fa-linkedin {
	background-color: black;
	color: white;
}

.fa-instagram {
	background-color: black;
	color: white;
}